.container{
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: fit-content;
    padding: 10px 0px;
    
}

.pageContainer{
    width: 300px;
}

.ratingFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.breakfast_h2{
    margin-top: 10px;
    margin-left: 20px;
}
.tittle{
    text-align: center;
    /* color: red; */
}

.flex{

    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}